/* 遮罩背景 */
.mask-bg {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 999;
}

/* 浮动相关 */
.f-clear {
  clear: both;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
/* 万能清除浮动 */
.f-clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* 歌词填充效果 */
@keyframes scan {
  0% {
    background-size:0 100%;
  }
  100% {
    background-size:100% 100%;
  }
}
.text-load {
  display: inline-block;
  background: #222 -webkit-linear-gradient(left, red, red) no-repeat 0 0;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 0 100%;

  background-size: 100% 100%;
  animation: scan 5s linear;
}